<div>
  <zxing-scanner (scanSuccess)="onCodeResult($event)" ></zxing-scanner>
</div>
<div *ngIf="qrResultString">
  <p>OK</p>
  <div>
    <br>
    <button type="button" *ngIf="!loading" class="btn btn-primary" (click)="getCurrentLocation()">Prenota Bici 1</button>
  </div>

  <div *ngIf="loading"  class="col-sm-2" id='divBici'>
    <p id='bici'>BICI NOLEGGIATA</p>
    <button type="button" class="btn btn-secondary" id='rilascia' (click)="getCurrentLocationRilascio()">RILASCIA</button>
  </div>

</div>
